/* submitted by Annette Reid s3297925
 Assignment 1 CPT375  */
 
/* set default font for webpage */
html , body{ 					
		font-family:  Arial, sans-serif;
		font-style: normal;
		height: 100%;
		padding: 0px;
		margin: 0px;}
      
h2{
      color: #aecb5e;
      font-size: 2em;
      margin: 15px 0px 10px 0px;}
table{
         width:100%; }
   
th{
      text-align:left;
      color: #aecb5e;
      font-size: 1em;
      margin: 10px 0px 10px 0px;
      height: 30px;}

.label{
         font-size: 1em;
         margin: 5px 10px 0px 0px;
         color: #5C5C33;}
           
/* submit button was taken directly from the max design website
/* http://www.maxdesign.com.au/ - also set up mouse cursor 
/* and individualised the colours */
.submitButton {
	text-decoration: none;
	margin: 0;
	padding: 8px 15px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 0 none;
	color: #fff;
	background-image: -webkit-gradient(linear, center bottom,
							center top, from(#549906), to(#add73a));
	background-image: -moz-linear-gradient(90deg, #549906, #add73a);
	font-size: 110%;
	font-weight: bold;	
	cursor: pointer;}
   
.backButton {
   font-size: 90%;
   margin-left: 20px;}

.backToSearch {
   display: inline-block;
   vertical-align: middle;
   padding-right: 15px;}
   
   /*********************************************************************/
/* settings for table on results page for the search results*/

/* setting the width of the searchResults div */
.searchResults {
	margin: 30px auto 0px;
	background: #BCC7CD;
   border-collapse: collapse;}

/* setting the properties for the header of the table and footer */
.searchResults th {
	background: #add73a;
	color: #fff;
	font-size: 1.2em;
	height: 50px;}

/* setting the properties for the table cells */
.searchResults td {
	height: 25px;}

.searchResults tr:nth-child(odd) {
   background: #fff;
}

.searchResults th, td {   
   border: none;}
   
.search_form {
   margin-left: 15px;}
   
.footer {
   margin-left: 10px;}