/* submitted by Annette Reid s3297925
 Assignment 1 CPT375  */
 
/* set default font for webpage */
html , body{ 					
		font-family:  Arial, sans-serif;
		font-style: normal;
		height: 100%;
		padding: 0px;
		margin: 0px;}
      
h2{
      color: #aecb5e;
      font-size: 2em;
      margin: 15px 0px 10px 0px;}
table{
         width:100%; }
   
th{
      text-align:left;
      color: #aecb5e;
      font-size: 1em;
      margin: 10px 0px 10px 0px;
      height: 30px;}

.label{
         font-size: 1em;
         margin: 5px 10px 0px 0px;
         color: #5C5C33;}

.block{
        display: inline-block;
        margin-left: 10px;}
            
/* submit button was taken directly from the max design website
/* http://www.maxdesign.com.au/ - also set up mouse cursor 
/* and individualised the colours */
.submitButton {
	text-decoration: none;
	margin: 0;
	padding: 8px 15px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 0 none;
	color: #fff;
	background-image: -webkit-gradient(linear, center bottom,
							center top, from(#549906), to(#add73a));
	background-image: -moz-linear-gradient(90deg, #549906, #add73a);
	font-size: 110%;
	font-weight: bold;	
	cursor: pointer;}